{
  "openapi": "3.1.0",
  "info": {
    "title": "Gradiate API",
    "version": "1.0.0",
    "summary": "One API for student grades across Home Access Center, PowerSchool and Skyward.",
    "description": "Gradiate logs into school district portals on a student’s behalf and returns clean JSON. Every platform shares the same route table, request shape, session envelope, streaming protocol and error format.",
    "license": {
      "name": "See LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.gradiate.app",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "HAC",
      "description": "PowerSchool eSchoolPlus Home Access Center, common across Texas districts. Supports direct portal credentials and ClassLink SSO (with PIN/image 2FA)."
    },
    {
      "name": "PowerSchool",
      "description": "Guardian portal with multi-student parent accounts, date-driven term columns and Microsoft (Azure AD) sign-in via cookie handoff."
    },
    {
      "name": "Skyward Legacy",
      "description": "Classic Skyward Student & Family Access. Credentials only; term/subterm tabs are reconstructed from the gradebook itself."
    }
  ],
  "paths": {
    "/hac/districts": {
      "post": {
        "operationId": "hac-districts",
        "tags": [
          "HAC"
        ],
        "summary": "Detect multi-district HAC hosts (no auth).",
        "description": "Given a HAC portal link, reports whether the host fronts several districts. Show a district picker only when `multiple` is true, then send the chosen `name` as `loginData.district`.",
        "x-operation": "districts",
        "x-platform": "hac",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string",
                    "format": "uri",
                    "description": "Portal base URL."
                  }
                },
                "required": [
                  "link"
                ]
              },
              "example": {
                "link": "https://homeaccess.example.org"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "multiple": {
                      "type": "boolean"
                    },
                    "districts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "multiple": true,
                  "districts": [
                    {
                      "name": "Example ISD",
                      "value": "EX"
                    },
                    {
                      "name": "Sample CISD",
                      "value": "SC"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/hac/login": {
      "post": {
        "operationId": "hac-login",
        "tags": [
          "HAC"
        ],
        "summary": "Authenticate and receive a session envelope.",
        "description": "Authenticates only — no data is fetched. A cheap validation probe runs so a bad password or expired session fails here rather than on your next call. Store the returned `session` and send it with every data request.\n\nFor ClassLink logins that hit a second factor, this returns `mfaRequired` (HTTP 200, `success: false`) — re-call with the returned `session` and `loginData.clMFA`.",
        "x-operation": "login",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated (or `MfaChallenge` for ClassLink 2FA).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "success": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {}
                        },
                        {
                          "type": "object",
                          "properties": {
                            "session": {
                              "$ref": "#/components/schemas/Session"
                            }
                          }
                        }
                      ]
                    },
                    {
                      "$ref": "#/components/schemas/MfaChallenge"
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/info": {
      "post": {
        "operationId": "hac-info",
        "tags": [
          "HAC"
        ],
        "summary": "Profile details for the logged-in student.",
        "description": "Name, school, grade and other registration details. Fields a portal does not expose are returned as empty strings.",
        "x-operation": "info",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "grade": {
                          "type": "string"
                        },
                        "school": {
                          "type": "string"
                        },
                        "district": {
                          "type": "string"
                        },
                        "dob": {
                          "type": "string"
                        },
                        "counselor": {
                          "type": "string"
                        },
                        "language": {
                          "type": "string"
                        },
                        "cohortYear": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "firstLoggedIn": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "link": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "name": "Jordan Rivera",
                  "grade": "10",
                  "school": "Cypress Ridge High School",
                  "district": "Example ISD",
                  "dob": "04/12/2010",
                  "counselor": "Smith, Dana",
                  "language": "English",
                  "cohortYear": "2028",
                  "username": "s123456",
                  "firstLoggedIn": "2025-08-14T15:02:11Z",
                  "link": "https://homeaccess.example.org/",
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/classes": {
      "post": {
        "operationId": "hac-classes",
        "tags": [
          "HAC"
        ],
        "summary": "Every class with its average for a term.",
        "description": "Returns all classes for a term plus the term metadata needed to render a term picker. Pass `options.term` to switch terms; omit it for the current term.\n\n`scoresIncluded` tells you whether each class already carries its assignments (HAC) or whether you need `/single-class` (PowerSchool, Skyward).",
        "x-operation": "classes",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      },
                      "options": {
                        "type": "object",
                        "properties": {
                          "term": {
                            "type": "string",
                            "description": "Term label from `termList`. Defaults to the current term."
                          }
                        }
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                },
                "options": {
                  "term": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TermFields"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "scoresIncluded": {
                              "type": "boolean"
                            },
                            "classes": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Class"
                              }
                            }
                          }
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "scoresIncluded": true,
                  "termList": [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                  ],
                  "term": "2",
                  "classes": [
                    {
                      "course": "0001A - 110",
                      "name": "COMPUTER SCIENCE",
                      "period": "1",
                      "teacher": "Smith, John",
                      "room": "2100",
                      "average": "94.20",
                      "scores": [
                        {
                          "dateDue": "09/10/2026",
                          "dateAssigned": "09/08/2026",
                          "name": "Recursion Lab",
                          "category": "Major",
                          "score": "96.00",
                          "totalPoints": "100.00",
                          "weight": "1.00",
                          "weightedScore": "96.00",
                          "weightedTotalPoints": "100.0000",
                          "percentage": "96.00%",
                          "badges": []
                        }
                      ]
                    }
                  ],
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/single-class": {
      "post": {
        "operationId": "hac-singleClass",
        "tags": [
          "HAC"
        ],
        "summary": "One class with its assignments.",
        "description": "Fetches one class and its assignment scores for a term. Identify the class with `options.class` (name) or, on PowerSchool and Skyward, `options.course` (id — more reliable when two sections share a name).",
        "x-operation": "singleClass",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      },
                      "options": {
                        "type": "object",
                        "properties": {
                          "class": {
                            "type": "string",
                            "description": "Class name, exactly as returned in `classes[].name`."
                          },
                          "term": {
                            "type": "string",
                            "description": "Term label from `termList`. Defaults to the current term."
                          }
                        },
                        "required": [
                          "class"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                },
                "options": {
                  "class": "AP Calculus BC",
                  "term": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TermFields"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "scoresIncluded": {
                              "type": "boolean"
                            },
                            "class": {
                              "$ref": "#/components/schemas/Class"
                            }
                          }
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "scoresIncluded": true,
                  "termList": [
                    "1",
                    "2",
                    "3",
                    "4",
                    "5",
                    "6"
                  ],
                  "term": "2",
                  "class": {
                    "course": "0001A - 110",
                    "name": "COMPUTER SCIENCE",
                    "period": "3",
                    "teacher": "Nguyen, Alex",
                    "average": "93",
                    "scores": [
                      {
                        "name": "Unit 2 Test",
                        "category": "Tests",
                        "dateDue": "09/11/2026",
                        "dateAssigned": "09/11/2026",
                        "score": "45",
                        "totalPoints": 50,
                        "weight": 1,
                        "weightedScore": 45,
                        "weightedTotalPoints": 50,
                        "percentage": "90%",
                        "badges": []
                      },
                      {
                        "name": "Homework 2.4",
                        "category": "Homework",
                        "dateDue": "09/09/2026",
                        "dateAssigned": "09/08/2026",
                        "score": "",
                        "totalPoints": 10,
                        "weight": 1,
                        "weightedScore": "",
                        "weightedTotalPoints": 10,
                        "percentage": "0%",
                        "badges": [
                          "missing"
                        ]
                      }
                    ]
                  },
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/schedule": {
      "post": {
        "operationId": "hac-schedule",
        "tags": [
          "HAC"
        ],
        "summary": "Class schedule rows.",
        "description": "The student’s class schedule. On HAC and Skyward each row is keyed by the portal’s own column headers, so keys can vary between districts.",
        "x-operation": "schedule",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "schedule": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "schedule": [
                    {
                      "Course": "0001A - 110",
                      "Description": "COMPUTER SCIENCE",
                      "Periods": "1",
                      "Teacher": "Smith, John",
                      "Room": "2100",
                      "Days": "A",
                      "Marking Periods": "Q1, Q2, Q3, Q4",
                      "Building": "Cypress Ridge HS",
                      "Status": "Active"
                    }
                  ],
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/attendance": {
      "post": {
        "operationId": "hac-attendance",
        "tags": [
          "HAC"
        ],
        "summary": "Attendance events for a month.",
        "description": "Attendance events keyed by `MM/DD/YYYY`. HAC walks its calendar to `options.date`; PowerSchool and Skyward return the most recent month with data.",
        "x-operation": "attendance",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      },
                      "options": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "example": "March-2026",
                            "description": "Month to show, formatted `Month-YYYY`."
                          }
                        }
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                },
                "options": {
                  "date": "March-2026"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "month": {
                          "type": "string"
                        },
                        "year": {
                          "type": "string"
                        },
                        "events": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/AttendanceEvent"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "month": "September",
                  "year": "2026",
                  "events": {
                    "09/04/2026": [
                      {
                        "event": "Tardy",
                        "periods": [
                          "2"
                        ],
                        "classes": [],
                        "color": "#ffff00"
                      }
                    ],
                    "09/07/2026": [
                      {
                        "event": "School Closed",
                        "periods": [],
                        "classes": [],
                        "color": "#cccccc"
                      }
                    ]
                  },
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/teachers": {
      "post": {
        "operationId": "hac-teachers",
        "tags": [
          "HAC"
        ],
        "summary": "Teachers and contact emails.",
        "description": "One entry per class with the teacher’s name and email.",
        "x-operation": "teachers",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "teachers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "class": {
                                "type": "string"
                              },
                              "teacher": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "teachers": [
                    {
                      "class": "COMPUTER SCIENCE",
                      "teacher": "Smith, John",
                      "email": "john.smith@example.k12.us"
                    }
                  ],
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/reportCard": {
      "post": {
        "operationId": "hac-reportCard",
        "tags": [
          "HAC"
        ],
        "summary": "Report card grades per grading run.",
        "description": "All published report cards, newest first. Row shapes follow each portal’s report card layout.",
        "x-operation": "reportCard",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "reportCards": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "reportCards": [
                    {
                      "date": "Run 1",
                      "report": [
                        {
                          "course": "0001A - 110",
                          "description": "COMPUTER SCIENCE",
                          "grade": "94"
                        }
                      ]
                    }
                  ],
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/ipr": {
      "post": {
        "operationId": "hac-ipr",
        "tags": [
          "HAC"
        ],
        "summary": "Interim progress reports (HAC only).",
        "description": "Every interim progress report with per-course grades and teacher comment codes.",
        "x-operation": "ipr",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "progressReports": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string"
                              },
                              "report": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "progressReports": [
                    {
                      "date": "09/26/2026",
                      "report": [
                        {
                          "course": "0001A - 110",
                          "description": "COMPUTER SCIENCE",
                          "period": "1",
                          "teacher": "Smith, John",
                          "room": "2100",
                          "grade": "94",
                          "com1": "A1",
                          "com2": "",
                          "com3": "",
                          "com4": "",
                          "com5": ""
                        },
                        {
                          "comments": [
                            {
                              "comment": "A1",
                              "commentDescription": "Excellent work"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hac/transcript": {
      "post": {
        "operationId": "hac-transcript",
        "tags": [
          "HAC"
        ],
        "summary": "Academic history and GPA.",
        "description": "Completed coursework by year/semester. The exact structure mirrors the portal’s transcript page.",
        "x-operation": "transcript",
        "x-platform": "hac",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "classlink",
                          "classlinkCredentials"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://homeaccess.example.org",
                  "username": "s123456",
                  "password": "••••••••"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "transcriptData": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "transcriptData": {
                    "2025 - Semester 1": {
                      "year": "2025",
                      "semester": "1",
                      "grade": "09",
                      "school": "Cypress Ridge HS",
                      "data": [
                        [
                          "Course",
                          "Description",
                          "Sem1",
                          "Credits"
                        ],
                        [
                          "0001A",
                          "COMPUTER SCIENCE",
                          "96",
                          "0.5"
                        ]
                      ],
                      "credits": "3.5"
                    }
                  },
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerschool/authMethods": {
      "post": {
        "operationId": "powerschool-authMethods",
        "tags": [
          "PowerSchool"
        ],
        "summary": "Which sign-in methods a district offers (no auth).",
        "description": "Given a PowerSchool portal link, reports whether it accepts username/password, Microsoft SSO, or both — so you only render the buttons that will work.",
        "x-operation": "authMethods",
        "x-platform": "powerschool",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string",
                    "format": "uri",
                    "description": "Portal base URL."
                  }
                },
                "required": [
                  "link"
                ]
              },
              "example": {
                "link": "https://ps.example.k12.us"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "credentials": {
                      "type": "boolean"
                    },
                    "microsoft": {
                      "type": "boolean"
                    },
                    "ssoUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "success": true,
                  "credentials": true,
                  "microsoft": true,
                  "ssoUrl": "https://ps.example.k12.us/oauth/login"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/powerschool/login": {
      "post": {
        "operationId": "powerschool-login",
        "tags": [
          "PowerSchool"
        ],
        "summary": "Authenticate and receive a session envelope.",
        "description": "Authenticates only — no data is fetched. A cheap validation probe runs so a bad password or expired session fails here rather than on your next call. Store the returned `session` and send it with every data request.\n\nFor ClassLink logins that hit a second factor, this returns `mfaRequired` (HTTP 200, `success: false`) — re-call with the returned `session` and `loginData.clMFA`.",
        "x-operation": "login",
        "x-platform": "powerschool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "microsoftSession"
                        ]
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://ps.example.k12.us",
                  "username": "s123456",
                  "password": "••••••••"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated (or `MfaChallenge` for ClassLink 2FA).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {}
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerschool/info": {
      "post": {
        "operationId": "powerschool-info",
        "tags": [
          "PowerSchool"
        ],
        "summary": "Profile details for the logged-in student.",
        "description": "Name, school, grade and other registration details. Fields a portal does not expose are returned as empty strings.",
        "x-operation": "info",
        "x-platform": "powerschool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "microsoftSession"
                        ]
                      },
                      "options": {
                        "type": "object",
                        "properties": {
                          "studentId": {
                            "type": "string",
                            "description": "Which student to fetch for on multi-student parent accounts (from `students[].id`)."
                          }
                        }
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://ps.example.k12.us",
                  "username": "s123456",
                  "password": "••••••••"
                },
                "options": {
                  "studentId": "4821"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "grade": {
                          "type": "string"
                        },
                        "school": {
                          "type": "string"
                        },
                        "district": {
                          "type": "string"
                        },
                        "dob": {
                          "type": "string"
                        },
                        "counselor": {
                          "type": "string"
                        },
                        "language": {
                          "type": "string"
                        },
                        "link": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/StudentContext"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "session": {
                          "$ref": "#/components/schemas/Session"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "name": "Jordan Rivera",
                  "grade": "",
                  "school": "Cypress Ridge High School",
                  "district": "Example ISD",
                  "dob": "",
                  "counselor": "",
                  "language": "",
                  "link": "https://ps.example.k12.us/",
                  "students": [
                    {
                      "id": "4821",
                      "name": "Jordan Rivera",
                      "selected": true
                    }
                  ],
                  "studentId": "4821",
                  "session": {
                    "cookies": {
                      "version": "tough-cookie@5.0.0",
                      "storeType": "MemoryCookieStore",
                      "cookies": [
                        {
                          "key": "ASP.NET_SessionId",
                          "value": "…",
                          "domain": "homeaccess.example.org"
                        }
                      ]
                    },
                    "cache": {
                      "lastValidationTime": 1789300000000,
                      "link": "https://homeaccess.example.org/",
                      "username": "s123456"
                    },
                    "loginMetadata": {
                      "loginType": "credentials",
                      "loginData": {
                        "link": "https://homeaccess.example.org",
                        "username": "s123456"
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "description": "When `stream: true`: newline-delimited progress objects separated by blank lines, followed by the final JSON body.",
                "schema": {
                  "type": "string"
                },
                "example": "{\"percent\":4,\"message\":\"Authenticating\"}\n\n{\"percent\":50,\"message\":\"Fetching classes\"}\n\n{\"success\":true,…}"
              }
            }
          },
          "400": {
            "description": "Validation error (bad `loginType`, missing params, unsafe link).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 400,
                  "message": "loginType must be one of: credentials, classlink, classlinkCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or expired session that could not be renewed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "status": 401,
                  "message": "Invalid session or password"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found (e.g. no bell schedule) or class not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests/minute per IP by default).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Too many requests, please slow down."
                }
              }
            }
          },
          "500": {
            "description": "Portal changed or unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerschool/classes": {
      "post": {
        "operationId": "powerschool-classes",
        "tags": [
          "PowerSchool"
        ],
        "summary": "Every class with its average for a term.",
        "description": "Returns all classes for a term plus the term metadata needed to render a term picker. Pass `options.term` to switch terms; omit it for the current term.\n\n`scoresIncluded` tells you whether each class already carries its assignments (HAC) or whether you need `/single-class` (PowerSchool, Skyward).",
        "x-operation": "classes",
        "x-platform": "powerschool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthenticatedRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "loginType": {
                        "type": "string",
                        "enum": [
                          "credentials",
                          "microsoftSession"
                        ]
                      },
                      "options": {
                        "type": "object",
                        "properties": {
                          "term": {
                            "type": "string",
                            "description": "Term label from `termList`. Defaults to the current term."
                          },
                          "studentId": {
                            "type": "string",
                            "description": "Which student to fetch for on multi-student parent accounts (from `students[].id`)."
                          }
                        }
                      }
                    }
                  }
                ]
              },
              "example": {
                "loginType": "credentials",
                "loginData": {
                  "link": "https://ps.example.k12.us",
                  "username": "s123456",
                  "password": "••••••••"
                },
                "options": {
                  "term": "",
                  "studentId": "4821"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TermFields"
                        },
                        {
                          "type": "object",
[...]
